<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <itmods_tax>
            <general>
                <store_id>not_registered</store_id>
            </general>
        </itmods_tax>
    </default>
</config>