<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="itmods" translate="label" sortOrder="10">
            <label>ITMods</label>
        </tab>
        <section id="itmods_tax" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Tax Settings</label>
            <tab>itmods</tab>
            <resource>Itmods_Tax::itmods_tax</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="store_id" translate="label" type="hidden" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Store ID</label>
                    <comment>
                        Assigned after registration
                    </comment>
                </field>
                <field id="dashboard" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dashboard</label>
                    <frontend_model>Itmods\Tax\Block\System\Config\Form\Field\Dashboard</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>